<a href="https://colab.research.google.com/github/dheeraj0000/2216177_AIML_Bootcamp_2023/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1)
#string
str="dheeraj"
#indexing
print(str[0])
print(str[-1])
print(str[0:5])
print(str[0:5:2])
#reverse a string
print(str[::-1])
#string methods
my_str="I am teaching python"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.lstrip())
#string operations
str1="hello"
str2="world"
print(str1+str2)
print(str1+str1)
#Comparing string
str1 = "Hello, world!"
str2 = "I love Python"
print(str1==str2)

d
j
dheer
der
jareehd
I AM TEACHING PYTHON
i am teaching python
i AM TEACHING PYTHON
I am teaching python
helloworld
hellohello
False

In [ ]:
#2)
#Lists
my_list=[1,2,3,4]
my_list1=[1,'hello','3.0']
my_list2=['apple','banana','cherry',]

#indexing
print(my_list[2])
print(my_list1[-1])
print(my_list[:3])
#nested list
N_list=["dargonfruit","hi",my_list,my_list[1]]
#list methods
my_list.append(5)
print(my_list)
l1=[3,6,9,12,34,4,5,6,9]
print(l1.count(4))
print(len(l1))
print(l1[::-1])
l1.reverse()
print(l1)
l1.sort()
print(l1)

3
3.0
[1, 2, 3]
[1, 2, 3, 4, 5]
1
9
[9, 6, 5, 4, 34, 12, 9, 6, 3]
[9, 6, 5, 4, 34, 12, 9, 6, 3]
[3, 4, 5, 6, 6, 9, 9, 12, 34]

In [ ]:
#3)
#Tuples
my_tup=(1,2,3,4)
my_tup1=("hi",1.1,5)
N_tup=("hello",my_tup,my_tup1)
print(N_tup[-1][-1])
#tuple methods
print(my_tup.count(1))
print(my_tup.index(2))
print(max(my_tup))
print(min(my_tup))
print(my_tup[1:4])
print(my_tup[:-7])
print(my_tup[7:])
print(my_tup[:])

5
1
1
4
1
(2, 3, 4)
()
()
(1, 2, 3, 4)

In [ ]:
#4)
#dictionary
my_dict={'name':'grandsteller',102:'english'}
print(my_dict)
capital_city = {"Nepal": "Kathmandu", "England": "London"}
print("Initial Dictionary: ",capital_city)

capital_city["Japan"] = "Tokyo"

print("Updated Dictionary: ",capital_city)
student_id = {111: "Eric", 112: "Kyle", 113: "Butters"}
print("Initial Dictionary: ", student_id)
del student_id[111]
print("Updated Dictionary ", student_id)

{'name': 'grandsteller', 102: 'english'}
Initial Dictionary:  {'Nepal': 'Kathmandu', 'England': 'London'}
Updated Dictionary:  {'Nepal': 'Kathmandu', 'England': 'London', 'Japan': 'Tokyo'}
Initial Dictionary:  {111: 'Eric', 112: 'Kyle', 113: 'Butters'}
Updated Dictionary  {112: 'Kyle', 113: 'Butters'}

In [ ]:
#5)
#sets
my_set=(1,2,3,4)
my_set1=("hi",1.1,5)
l=[1,2,3,4]
print(l)

#set operation
a={1,2,3,4}
b={4,5,6,7}
print(a|b)
print(a.union(b))
print(b.union(a))

print(a&b)
print(a.intersection(b))
print(b.intersection(a))

print(a-b)
print(a.difference(b))
print(b.difference(a))

[1, 2, 3, 4]
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4}
{4}
{4}
{1, 2, 3}
{1, 2, 3}
{5, 6, 7}

In [ ]:
#6)
x=22
print(bin(x))
print(hex(x))
print(oct(x))

0b10110
0x16
0o26

In [ ]:
#7)
#Arithmetic operator
a=3
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

5
1
6
1.5
1
9
1

In [ ]:
#8)
#assignment operator
a=10
b=5
c=a+b
print(c)
c-=a
print(c)
a += b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a)
a//=b
print(a)

15
5
15
75
15.0
0.0
0.0

In [ ]:
#9)
#comparsion operateor
a=2
b=3
a>=b
print(a)
a==b
print(a)
a<=b
print(a)
a<<b
print(a)
a>>b
print(a)
a!=b
print(a)

2
2
2
2
2
2

In [ ]:
#10)
#logical operator
x=True
y=False
print('x and y is:',x and y)
print('x or y is:',x or y)
print('x not y is:',not y)

x and y is: False
x or y is: True
x not y is: True

In [ ]:
#11)
#Bitwise operator
a=13
b=14
print(a&b)
print(a|b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

12
15
-14
3
3
52

In [ ]:
#12)
#membership operator
x='hello world'
print('w' in x)
a = 10
b = 20
list = [1, 2, 3, 4, 5 ];

if ( a in list ):
   print ("Line 1")
else:
   print ("Line 1!")

if ( b not in list ):
   print ("Line 2")
else:
   print ("Line 2!")

a = 2
if ( a in list ):
   print ("Line 3")
else:
   print ("Line 3 !")

True
Line 1!
Line 2
Line 3

In [ ]:
#13)
#identity operator
x1=5
y1=5
x2='hello'
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is  y2)
print(x3 is y3)

False
True
False

In [ ]:
#14)negative indexing for list and applying silcing
list= [5,2,9,7,5,8,1,4,3]
print(list[::-1])
print(list[0:6])
print(list[1:9:2])
print(list[-1:-5:-2])

[3, 4, 1, 8, 5, 7, 9, 2, 5]
[5, 2, 9, 7, 5, 8]
[2, 7, 8, 4]
[3, 1]

In [ ]:
#15)
print('A series of character designated as one object known as a string'[::-1][4::3])
print('----------')
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgerca  is
----------
ot emoc

In [ ]:
#16)
P_phrase="was it a car or a cat I saw"
print(P_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [ ]:
li=["Hii","I am","Attending","Bootcamp"]

x=",".join(li)

print(x)

Hii,I am,Attending,Bootcamp

In [ ]:
#ascii
n=input()
print(ord(n))

A
65

In [65]:
#17)
x=int(input())
y=2*x
print('Z'*x+'O'*y)

2
ZZOOOO