<a href="https://colab.research.google.com/github/dheeraj0000/2216177_AIML_Bootcamp_2023/blob/main/DAY4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#decision making

#if statement
var=100
if var>0:
  print("TRUE")
  print(var)

#if-else
var=-1
if var>0:
  print("true")
else:
  print("false")

#nested if statement
age=int(input("Enter age"))
if age>0 and age<15:
  if age>0 and age<=2:
    print("free ticket")
  elif age>2 and age<=15:
    print("half ticket")
  elif age>=15 and age<60:
    print("full ticket")
  elif age>=60:
    print("discounted ticket")

TRUE
100
false
Enter age16

In [ ]:
#loops
n=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,11):
  print(i)
sum=0
for val in n:
  sum=sum+val
print("the sum is",sum)

for i in range(1,11,2):
  print(i)

1
2
3
4
5
6
7
8
9
10
the sum is 55
1
3
5
7
9

In [ ]:
#while loop
count=1
while(count<11):
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#nested loop
#nested for
x=[[12,7,3],[4,5,6],[7,8,6]]
y=[[5,8,1],
   [1,1,0],
   [5,3,0]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[17, 15, 4]
[5, 6, 6]
[12, 11, 6]

In [ ]:
#nested while loop
n=int(input("enter untill which table you need"))
i=1
while(i<=n):
  print(f"table{i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
    print("---------------")
    i=i+1

enter untill which table you need3
table1
1*1=1
---------------
2*2=4
---------------
3*3=9
---------------
4*4=16
---------------
5*5=25
---------------
6*6=36
---------------
7*7=49
---------------
8*8=64
---------------
9*9=81
---------------
10*10=100
---------------

In [ ]:
#control statement
#break
for q in "python":
  if q=="h":
    break
  print("current letter",q)

#continue
for q in "python":
  if q=="h":
    continue
  print("current letter",q)

#pass
for q in "python":
  if q=="h":
    pass
    print("this is a pass block")
  print("current letter",q)

current letter p
current letter y
current letter t
current letter p
current letter y
current letter t
current letter o
current letter n
current letter p
current letter y
current letter t
this is a pass block
current letter h
current letter o
current letter n

In [ ]:
#functions
def greet(name):
  '''this function greets a person'''
  print("HELLO\t"+name+ "\t good morning")
greet("dheeraj")

HELLO	dheeraj	 good morning

In [ ]:
#default
def A(a,b=1,c=2):
  return a+b+c 
print(A(3))
print(A(4,4,4))

6
12

In [ ]:
#keyword
def A(a,b=1,c=2):
  return a+b+c 
print(A(a=2,b=3))
print(A(c=3,a=1,b=2))

7
6

In [ ]:
#positional
def A(a,b,c):
  return a+b+c 
print(A(10,20,30))

60

In [ ]:
#arbitary positional
def add_num(*n):# *->multiple things 
  print(sum(n))
add_num(1,2,3,4,5,6,7,8,9,10)

TypeError: ignored

In [ ]:
#arbitrary keywords
def key_args(**kwargs):
  return kwargs
myd=key_args(apples=30,bananas=40,cherries=30)
print(myd['apples'])
print(myd)

30
{'apples': 30, 'bananas': 40, 'cherries': 30}